
.btn{
	border:1px solid $green;
	color: #FFFFFF !important;
	background: $green;
	border-radius: 0px;
	font-size:2rem;
	padding: 5px 20px;
    width: max-content;
	&:hover{
		background:$blue;
		border:1px solid $blue;
	}

	&.secondary{
		border:1px solid $blue;
		color: #FFFFFF;
		background: $blue;
		&:hover{
			background:$green;
			border:1px solid $green;
		}
	}

}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
	border:1px solid #ffffff;
	color: #FFFFFF;
	background: transparent;
}

.largeBtn{
	font-size: 3.3rem;
	font-family: $headingFont;
	font-weight: 900;
	padding:10px 50px;
}