
header{
	box-shadow:0 0 10px rgba(0,0,0,0.4);
    z-index: 1000;
    position: relative;
    &.sticky{
		.menuContainer{
			position:fixed;
			top: -200px;

			.callContainer{
				display: block;
			}

			.menuSection{
				.menuWrap{
					position:relative;
					justify-content: space-between;
					#stickyLogo{
						display: flex;
    					align-self: center;
    					margin-top:25px;
					}
					#stickyPhoneNumbers{
					    display: flex;
					    color: #ffffff;
					    position: absolute;
					    right: 196px;
					    top: 15px;
					    font-size: 2.2rem;;
					    z-index: 100
					}

					.menu{
						li{
							a{
						        padding-top: 50px !important;
							    padding-bottom: 17px !important;
							}
						}
					}
				}
			}

		}
		
	}

	.logoContainer{
		padding:20px 0;
		.container{
			.row{
				padding:0px 0;
				justify-content:space-between;
			}
		}
		#logo{
		    display: flex;
		    align-items: center;
		    height: 100%;
		}
	}

	.phoneSection{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		align-self:center;
		justify-content: space-between;

		.servingStatment{
			color: $grey;
			font-size: 1.8rem;
			font-family: $baseFont;
		    font-style: italic;
		    margin-bottom: 20px;
		    text-align: right;
		}

		.phoneNumbers{
			color: $grey;
			font-size:2.8rem;
			font-family: $headingFont;
			font-weight: 900;
			a{
				color: $grey;
				&:hover{
					text-decoration: none;
					color: $green;
				}
			}
		}
	}

	.menuContainer{
		width: 100%;

		.menuSection{
			background: #f7f7f7;
			.menuWrap{
				display: flex;
				width: 100%;
				justify-content: flex-end;
				#stickyLogo{
					display: none;
				}
				#stickyPhoneNumbers{
					display: none;
				}
			}
		}

		.row{
			padding: 0px;

			#mainNav{
				width: 100%;	
				.menu{
					list-style: none;
					padding-left:0px;
					display: flex;
					margin-bottom: 0px;
					justify-content: flex-end;

					> li{
						position: relative;
						&.current-menu-item{
							a{
								color: $green;
							}
						}
						> a{
							color: $grey;
							font-size: 2rem;
							padding: 20px;
							display: block;

							&:hover{
								text-decoration: none;
								color: $green;
							}

						}

						&.greenBtn{
							a{
								background:$green;
								color: #ffffff;
								font-weight:900;
								transition: background-color 200ms linear;
								padding:20px 40px;
								&:hover{
									background-color:$blue;

								}
							}
						}


						> .sub-menu{
							display: none;
							position: absolute;
						    top: 70px;
						    left: 0px;
						    width: 300px;
						    background: #D0D2D3;
						    padding:0;

						    > li{
						    	list-style: none;
						    	a{
						    		display: block;
						    		color: #404041;
						    		padding:10px 20px;
						    		font-size: 2.2rem;
						    		&:hover{
						    			background:#DBDCDD;
						    			color: #AA1E23;
						    			text-decoration: none;
						    		}
						    	}
						    	&.current-menu-item{
									a{
										color: #AA1E23;
									}
								}
						    }
						}
						&:hover{
							> .sub-menu{
								display: block;
							}
						}

					}
				}
			}
		}
	}
}


/*** Mobile Nav **/
#mobileNav{
	position: fixed;
    z-index: 1001;
    background: #E8E9EC;
    height: 100%;
    width: 300px;
    padding: 20px;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    top: 0px;
    left: -2000px;
    transition: .5s;
    &.open{
    	left: 0px;
    }

    .mobileMenuToggle{
    	margin-bottom: 10px;
    	display: block;
    }

    #menu-menu-1{
		list-style: none;
		padding-left:0px;
		display: flex;
		flex-direction: column;
		margin-bottom: 0px;
		justify-content: flex-end;


		 li{
			position: relative;
			&.current-menu-item{
				a{
					color: #AA1E23;
				}
			}
			> a{
				font-size: 2.2rem;
				padding: 5px 10px;
				display: block;


				&:hover{
					text-decoration: none;
					color: #AA1E23;
				}

			}

			


			> .sub-menu{
				list-style: none;
				padding-left:10px;
			}
			&:hover{
				> .sub-menu{
					display: block;
				}
			}

		}
	}
}






/*** PAST ****/

.slider-content{
	height: 100%;
	display: flex;
	align-items: flex-end;
	.inner-content{
		top: initial;
		display: flex;
		flex-direction: column;
		h1{
			font-size: 4.7rem;
			margin-bottom: 20px;
		}

		h2{
			font-size: 4.0rem
		}

		p{
			font-size: 3.3rem;
			margin-bottom: 30px;

			&:last-child{
				margin-bottom: 0px;
			}
		}
	}
}

.mast{
	&.home-mast{
		background-size: cover;
		.row{
			padding:350px 0 50px;
			.mast_copy{
				text-align: center;
				margin:0 auto;

				*{
					color: #ffffff;
				}

				h1{
					font-size: 4.7rem;
					margin-bottom: 20px;
				}

				h2{
					font-size: 4.0rem
				}

				p{
					font-size: 3.3rem;
					margin-bottom: 30px;

					&:last-child{
						margin-bottom: 0px;
					}
				}

			}
		}
	}

	&.innerPage{
		position:relative;
		.container-fluid{
		    position: absolute;
		    top: 0px;
		    left: 0px;
		    z-index: 500;
		    height: 100%;

		    .container{
		    	height: 100%;
		    	.row{
		    		height: 100%;
		    		padding:75px 0 35px 0;

		    		.col{
		    			display: flex;
		    			flex-direction: column;
		    			align-self:flex-end;

		    			*{
		    				color: #ffffff;
		    			}

		    			h1{
		    				font-size: 3.3rem;
		    				margin-bottom: 20px;
		    			}
		    			p{
		    				font-size: 2.2rem;
		    				font-style:italic;
		    			}
		    		}
		    	}
		    }

		}
	}
}