/* This stylesheet is only used for responsive states */


#mobileNavButtons, .nav-phone{
	display: none;
}

/* MINIMUM WIDTH OF 1199PX */
@media only screen and (min-width: $screen-lg-min) {
	/*
	body{
		background: green;
	}
	*/
}

/* MINIMUM WIDTH OF 992PX AND MAX WIDTH OF 1198PX */
@media only screen and (max-width: $screen-lg-max) {
	header .menuContainer .row #mainNav .menu>li>a {
		font-size: 1.8rem
	}
	.healthConcerns ul {
		height: 760px;
	}
}

/* MINIMUM WIDTH OF 768PX AND MAX WIDTH OF 991PX */
@media only screen and (max-width: $screen-md-max) {
	html{
		font-size: 8px;
	}
	#mainNav{
		display: none;
	}
	#mobileNavButtons{
		display: flex;
		a{
			padding: 20px;
			text-align: center;
			&:hover{
				color: $blue;
				text-decoration: none;
			}
		}
	}

	.site-header .logoContainer .container .row{
		justify-content: center !important;	
	}

	.mast.home-mast .row {
	    padding: 120px 0 50px;
	}

	header .menuContainer .menuSection .menuWrap{
		justify-content: center;
	}

	header .phoneSection{
		.servingStatment{
			text-align: center;
			margin-top: 20px;
		}
		.phoneNumbers{
			text-align: center;
			width: 100%;
		}
	}

	.col-3{
	    width: 100%;
	    max-width: 100%;
	    flex: 0 0 100%;
	    margin: 10px 0;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}

	.col-4{
	    width: 100%;
	    max-width: 100%;
	    flex: 0 0 100%;
	    margin: 10px 0;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}

	#mobileNavButtons{
		align-items:center;
	}

	.mast.innerPage .container-fluid{
		position: relative;
	    background-color: $blue;
	    .container{
	    	.row{
	    		padding:25px 0 0 0;
	    		.mast_content{
	    			width: 100%;
	    			max-width: 100%;
	    			    flex: 0 0 100%;
	    			    padding-bottom:20px; 
	    		}
	    	}
	    }
	}

	.borderSection>div{
		border-left:none;
	}
	
	.healthConcerns ul {
		height: 760px;
	}

	footer .copyright .col, .copyright .col:last-child  {
		width: 100%;
	    max-width: 100%;
	    flex: 0 0 100%;
	    text-align: center !important;
	}
}

/* MINIMUM WIDTH OF 576PX AND MAX WIDTH OF 767PX */
@media only screen and (max-width: $screen-sm-max) {
	.col-6{
	    width: 100%;
	    max-width: 100%;
	    flex: 0 0 100%;
	    margin: 10px 0;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}

	.slider-content{
		.inner-content{
			h1{
				font-size: 2.7rem;
				margin-bottom: 10px;
			}

			h2{
				font-size: 2.0rem
			}

			p{
				font-size: 1.8rem;
				margin-bottom: 10px;

				&:last-child{
					margin-bottom: 0px;
				}
			}
		}
	}
	.healthConcerns ul {
		height: 1120px;
	}
	footer {
		.row {
			.col {
				text-align: center;
				.socialIcons {
					justify-content: center;
					a {
						margin: 0 10px;
					}
				}
				.locationsSection>div {
					margin: 0 auto;
					text-align: center;
				}
				.phoneNumberText {
					text-align: center;
				}
			}
		}
	}

}

/* MAX WIDTH OF 575PX */
@media only screen and (max-width: $screen-xsm-max) {
	.nav-phone{
		display: block;
	}
	header .phoneSection{
		.servingStatment{
			margin-bottom: 0px;
		}
		.phoneNumbers{
			display: none;
		}
	}
	.healthConcerns ul {
		height: 330px;
		overflow: scroll;
		li {
			flex: 0 0 10%;
			width: 45%;
			margin-bottom: 14px;
		}
	}
}
