/* This stylesheet is for any custom classes you create in your child theme. See below for examples */

*{
	font-size: inherit;
}
body{
	font-family: $baseFont;
}

img{
	max-width: 100%;
	height: auto;
}

iframe{
	max-width:100%;
}

.padding0{
	padding: 0px !important;
}

.greyBg{
	background:$grey;
}

.offWhiteBg{
	background:#f7f7f7;
}

.blueBg{
	background:$blue;
	div.wpcf7{
		.wpcf7-form{
			padding:20px;
			div{
				p{
					color: #ffffff;
				}
			}
		}
	}
}


.row {
    padding: 7.5rem 0;
    &.padding50{
    	padding: 5.0rem 0;
    }
    &.padding25{
    	padding: 2.5rem 0;
    }
    .col{
		*:last-child {
		    margin-bottom: 0px;
		}
	} 
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}







#quotePop{
	.modal-content{
		background-color:#ffffff;
		padding:10px;
	}
}


div.wpcf7{
	padding:20px 10px;
	.wpcf7-form{
		> div{
			margin-bottom: 20px;
			select, input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"], input[type="search"], textarea{
				padding:10px  !important;
				background:#f7f7f7;
			}

			p{
				margin-bottom: 0px;
				color: #58595b;
				font-size: 1.6rem;
			}

			textarea{
				height: 100px;
				background:#f7f7f7;
			}

		}
	}

	.wpcf7-submit{
		background:$green;
		color: #ffffff;
		text-transform: uppercase;
		font-family: $headingFont;
	}
}





.borderSection{
	> div{
		border-left:1px solid #ffffff;
		&:first-child{
			border-left:none;
		}
	}
}


.leafCol{
	margin-top: -125px;
}



.meetOurAcupuncturist{
	h2{
		font-size: 4rem;
	}
}






.whiteBgShadow{
	background:#ffffff;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
	position:relative;
	height: 100%;
	> div{
		padding:40px;
	}
	iframe{
		display: block;
	}

	&.comingSoon{
		&:before{
			content:'Coming Soon';
			background:#ed1c24;
			color: #ffffff;
			padding:10px 20px;
			position:absolute;
			top: -30px;
			left: 0px;
			font-size: 2.2rem;
			font-weight: 900;
		}
	}
}





.leanHowCol{
	> p{
		font-size: 2.2rem;
	}
	div{

		div{
			margin: 0 25px;
			p{

			}
		}
	}
}





.testimonialItem{
	position:relative;
	margin-bottom: 50px;
}




.contactFormContainer{
	background:#ffffff;
	padding:20px;
	width: 50%;
	margin:0 auto;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
	margin-bottom: 50px !important;
}





.learnHowContainer,
.locationsContainer,
.achieveHarmonyContainer{
	margin-bottom: 50px;
}



.borderSection2{
	border:1px solid $grey;
	.row{
		padding:4rem 2rem;
	}
}



.healthConcerns{
	p{
		line-height: 40px;
	}
}